// ---Imports---
@import '~bootstrap/scss/bootstrap';
@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
//mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin demo-card($bg, $content, $bottom) {
  background-color: $bg;
  &::before {
    content: $content;
    position: absolute;
    bottom: $bottom;
    left: -1.5%;
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: rgba(59, 59, 59, 0.705);
  }
}
//------variables
//colors
$primary-color: #ec615b;
$blue: #5222d0;
$white: #fff;
$smoke: #ebebfd;
$pink: #f9d9eb;
$dark-fade: #494949;
$light-fade: rgb(94, 94, 94);
$fade: rgb(82, 82, 82);
$orange: #ff6900;
$light-pink: #eebed3;
$light-blue: #aac6fc;
$light-sky: #d5f2fd;
$deep-sky: #10a3ff;
$light-green: #7fd6c2;
$light-yellow: #f6e049;
$success-green: #82d135;
$alert: #fd9a40;
//others
$mobile-break-point: 600px;
$tablet-break-point: 992px;

//global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  position: relative;
  overflow: hidden;
  h2 {
    margin-bottom: 1em;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -2%;
      right: 30%;
      height: 3px;
      width: 10%;
      background-color: $primary-color;
    }
    &::after {
      content: '';
      position: absolute;
      top: -26%;
      right: 20%;
      height: 3px;
      width: 20%;
      background-color: $blue;
    }
  }
}
button {
  padding: 0.3em 1em;
  background-color: transparent;
  border-radius: 25px;
  transition: all 0.5s ease;
  &:focus {
    outline: transparent;
  }
}
a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
//common class styles
.icon {
  margin: 0 0.3em;
}
.trans-btn {
  border: none;
  outline: none;
  background: transparent;
  color: #1890ff;
}
.btn1 {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  min-width: 120px;
}
.btn2 {
  border: 1px solid $blue;
  background-color: transparent;
  color: $blue;
  min-width: 120px;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
.left-circle-border {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  position: absolute;
  bottom: -4%;
  left: 0%;
  border: 2px solid $primary-color;
}
.circle-design {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -4%;
  left: -2%;
  background-color: $blue;
  z-index: 1;
}

//navbar
.navbar {
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 22px 0 rgba(102, 102, 102, 0.37);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid $primary-color;
  .nav-logo {
    width: 100px;
  }
}
.nav-link {
  display: flex;
  align-items: center;
  margin: 0 0.8em;
}
//home
.home {
  height: 65vh;
  @include flex-center();
  background-color: $pink;
  padding: 0.5em 5em;
  border-radius: 25px;
  margin: 1em auto 0.5em auto;
  h1::before {
    content: '';
    position: absolute;
    top: -2%;
    left: 30%;
    height: 3px;
    width: 10%;
    background-color: $primary-color;
  }
  h1::after {
    content: '';
    position: absolute;
    top: -4%;
    left: 35%;
    height: 3px;
    width: 10%;
    background-color: $blue;
  }
  .social-bar {
    position: absolute;
    bottom: 1%;
    right: 2%;
    list-style: none;
    li {
      margin: 1em 0;
      img {
        width: 1.3em;
      }
    }
  }
}
//moto
.moto {
  .title {
    background-color: $pink;
    border-radius: 17px;
    overflow: hidden;
    @include flex-center();
    h2 {
      transform: rotate(-90deg);
      &::before {
        content: '';
        position: absolute;
        top: -4%;
        right: 10%;
        height: 3px;
        width: 40%;
        background-color: $blue;
      }
    }
    .left-circle-border {
      left: 50%;
      bottom: -25%;
    }
  }
  .card {
    padding: 1em;
    margin: 0.5em auto;
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    figure {
      width: 80%;
    }
  }
  #card-1 {
    @include demo-card($light-blue, '1', '80%');
  }
  #card-2 {
    @include demo-card($light-green, '2', '80%');
  }
  #card-3 {
    @include demo-card($light-yellow, '3', '80%');
  }
  #card-4 {
    @include demo-card($light-pink, '4', '80%');
  }
}
//proud students
.proud-students {
  border: 2px solid $light-blue;
  .swiper {
    img {
      width: 100%;
    }
  }
  .title {
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      margin-bottom: 1em;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -2%;
        right: 30%;
        height: 3px;
        width: 10%;
        background-color: $primary-color;
      }
      &::after {
        content: '';
        position: absolute;
        top: -26%;
        right: 20%;
        height: 3px;
        width: 20%;
        background-color: $blue;
      }
    }
  }
  .left-circle-border {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    bottom: -6%;
    left: 90%;
    background-color: $light-blue;
    border: none;
  }
}
.projects {
  padding: 2em;
  background-color: $pink;
  border-radius: 17px;
  .title-container {
    @include flex-center();
    .title {
      width: 90%;
      text-align: center;
      h2 {
        margin-bottom: 1em;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: -2%;
          right: 30%;
          height: 3px;
          width: 10%;
          background-color: $primary-color;
        }
        &::after {
          content: '';
          position: absolute;
          top: -26%;
          right: 20%;
          height: 3px;
          width: 20%;
          background-color: $blue;
        }
      }
    }
  }
  .project-card {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 2px 32px 0 rgba(128, 128, 128, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1em;
    border-radius: 17px;
    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
      .name {
        display: flex;
        align-items: center;
        h6 {
          margin: 0 0 0 0.5em;
        }
      }
      .more {
        font-size: 1.5em;
      }
    }
    button {
      @include flex-center();
    }
  }
  .pc3,
  .pc4 {
    margin-top: 1.8em;
  }
  .left-circle-border {
    left: -2%;
    bottom: -4%;
  }
  .circle-design {
    left: -3%;
    bottom: -5%;
  }
}
.videos {
  min-height: 75vh;
  padding-top: 2.5em;
  margin-top: 1.5em;
  background-color: #e5e5f7;
  background-image: radial-gradient(
    #a8a8a8 1.1500000000000001px,
    #e5e5f7 1.1500000000000001px
  );
  background-size: 23px 23px;
  h2 {
    width: 60%;
    margin: auto;
    text-align: center;
    z-index: 99999;
    margin-bottom: 0.5em;
  }
  // .square {
  //   width: 80%;
  //   margin: auto;
  //   height: 95%;
  //   position: absolute;
  //   top: 60%;
  //   left: 50%;
  //   transform: translate(-50%, -60%);
  //   background-color: $light-green;
  //   border-radius: 17px;
  //   opacity: 0.5;
  // }
  .swiper-container {
    padding: 1em;
  }
  .video-cards {
    width: 90%;
    min-height: 350px;
    padding: 1em;
    z-index: 99;
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 2px 22px 0 rgba(102, 102, 102, 0.37);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    .card-info {
      .img {
        height: 200px;
        width: 100%;
        margin-bottom: 1em;
        position: relative;
        @include flex-center();
        .play {
          color: $white;
          font-size: 3em;
          z-index: 2;
        }
      }
      .name {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        h6 {
          margin: 0 0 0 0.5em;
        }
      }
    }
  }
}
.blog {
  header {
    width: 60%;
    margin: 1em auto 2em auto;
    text-align: center;
    p {
      color: $fade;
    }
  }
  .blog-card {
    // background-color: $light-blue;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 10px #d9d9d9, -10px -10px 10px #ffffff;
    border-radius: 25px;
    overflow: hidden;
    .cover-image {
      height: 130px;
      background-color: $orange;
    }
    .content {
      position: relative;
      padding: 3em 1em 1em;
      text-align: center;
      color: $fade;
      .profile-image {
        height: 85px;
        width: 85px;
        border-radius: 50%;
        margin: auto;
        background-color: $light-pink;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
      }
      .head {
        .badge {
          margin: 0 0.5em 0.5em;
        }
      }
      .description {
        margin: 0;
      }
    }
  }
}
//----------------------------------Login Page-----------------------------
.login-page {
  min-height: 92vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url('../assets/login-bg.jpg');
  background-size: cover;
  @include flex-center();
  .login-container {
    min-height: 80vh;
    width: 80%;
    margin: auto;
    box-shadow: 0 10px 42px 0 rgba(102, 102, 102, 0.37);
    .row {
      min-height: 80vh;
      background: #8360c3;
      background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
      background: linear-gradient(to right, #2ebf91, #8360c3);
      padding: 0.5em;
    }
    .image {
      height: 100%;
      width: 100%;
      padding: 1em;
      @include flex-center();
      img {
        width: 80%;
        margin: auto;
      }
    }
    .image.login {
      background: #8360c3;
      background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
      background: linear-gradient(to right, #2ebf91, #8360c3);
    }
    .image.signup {
      background: #00f260;
      background: -webkit-linear-gradient(to right, #00f260, #0575e6);
      background: linear-gradient(to right, #00f260, #0575e6);
    }
    .col-div {
      padding: 0;
    }
    .content {
      height: 100%;
      padding: 2em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      img {
        width: 25%;
        position: absolute;
        top: 2%;
        left: 2%;
      }
      .login-board {
        width: 100%;
        header {
          margin-bottom: 1em;
          small {
            margin: 0;
            color: rgb(122, 122, 122);
          }
        }
        button {
          margin-top: 1em;
          margin-right: 0.5em;
        }
      }
    }
  }
}
//----------------------------------Profile Page-----------------------------
.profile-page {
  section {
    width: 100%;
    margin: 1em auto;
  }
  .top {
    background-color: $light-sky;
    padding: 1em 1em 0 1em;
    .container {
      display: flex;
      height: 39vh;
      .profile-picture {
        width: min-content;
        @include flex-center();
        margin: 1em 0;
        .dp {
          position: relative;
          height: 250px;
          width: 250px;
          border-radius: 50%;
          background-size: cover;
          border: 10px solid $white;
          box-shadow: -10px -10px 15px #c6efff, 10px 10px 15px #c6efff;
          .img-edit {
            position: absolute;
            bottom: 3%;
            right: 3%;
            background-color: $white;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            @include flex-center();
            border: 1px solid $dark-fade;
          }
        }
      }
      .profile-details {
        width: 100%;
        position: relative;
        padding-left: 3em;
        header {
          padding: 1em 0;
          .headline {
            color: $fade;
          }
          .role {
            width: min-content;
            margin: 1em 0;
            span {
              padding: 0.1em 0.5em;
              margin-right: 0.3em;
              background-color: rgb(255, 255, 255);
              border: 1px solid gray;
              opacity: 0.5;
            }
            span.active {
              background-color: $light-pink;
              border: 1px solid $primary-color;
              opacity: 1;
            }
          }
          .bio {
            p {
              margin-bottom: 0.3em;
              display: flex;
              align-items: center;
              color: $light-fade;
            }
          }
        }
        .action-bar {
          width: 98%;
          background-color: $white;
          position: absolute;
          bottom: 0;
          right: 0;
          .bar {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border: 1px solid gray;
            border-bottom: none;
            padding: 0.3em 0;
            h4 {
              margin: 0;
            }
            button {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 0;
              background-color: $deep-sky;
              color: $white;
              @include flex-center();
            }
          }
          .btn-bar {
            padding: 0;
            border: none;
          }
        }
        .social-media {
          width: 25%;
          display: flex;
          justify-content: space-around;
          position: absolute;
          top: 0;
          right: 0;
          img {
            width: 25px;
            margin: 0 0.2em;
          }
        }
        .fresh-social-media {
          img {
            filter: grayscale(1);
            opacity: 0.5;
          }
        }
        .message {
          border-radius: 0;
          border: none;
          background-color: $white;
          position: absolute;
          top: 50%;
          right: 0;
          width: 170px;
          transform: translateY(-50%);
          @include flex-center();
        }
        .edit-btn {
          top: 35%;
        }
      }
    }
  }
  .about-section {
    .container {
      h4 {
        border-bottom: 3px solid $light-green;
        padding-bottom: 0.5em;
        display: flex;
        align-items: center;
        img {
          margin-right: 0.5em;
        }
      }
      .bio {
        border: 1px solid #cccccc;
        padding: 1em;
        height: 100%;
        position: relative;
        p {
          color: $fade;
        }
      }
      .fresh-bio {
        height: 130px;
        @include flex-center();
        header {
          text-align: center;
          opacity: 0.6;
          p {
            margin-bottom: 0.1em;
          }
          .fresh-icon {
            font-size: 2em;
            margin-bottom: 5px;
          }
        }
      }
      .achievements {
        border: 1px solid #cccccc;
        height: 100%;
        padding: 0.5em;
        position: relative;
        .achievement {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $smoke;
          margin-bottom: 0.3em;
          padding: 0 0.2em;
        }
        .more-btn {
          position: absolute;
          bottom: -10%;
          left: 0;
          width: 100%;
          padding: 0.3em;
          @include flex-center();
          background-color: $pink;
          cursor: pointer;
        }
      }
    }
  }
  .skills {
    padding-top: 0.5em;
    .container {
      position: relative;
      .fresh-achievement {
        height: 150px;
        width: 100%;
        border: 1px solid #cccccc;
        @include flex-center();
        header {
          text-align: center;
          opacity: 0.6;
          p {
            margin-bottom: 0.1em;
          }
          .fresh-icon {
            font-size: 2em;
            margin-bottom: 0.5em;
          }
        }
      }
      h4 {
        border-bottom: 3px solid $primary-color;
        padding: 0.3em;
        margin-bottom: 1em;
      }
      .skill-container {
        .skill-card {
          background-color: $smoke;
          padding: 1em;
          margin-bottom: 1em;
          .content {
            padding-left: 0.5em;
            .header {
              display: flex;
              justify-content: space-between;
              margin-bottom: 0.5em;
              h5 {
                margin: 0;
              }
              .icon-container {
                display: flex;
                align-items: center;
                .icon {
                  color: #ff6900;
                }
              }
            }
            p {
              height: 40px;
              color: $fade;
            }
          }
        }
      }
    }
  }
  .projects {
    background-color: transparent;
    .container {
      position: relative;
      h4 {
        margin-bottom: 1em;
        background-color: $primary-color;
        color: $white;
        padding: 0.3em;
        box-shadow: 10px 10px 22px 0 rgba(102, 102, 102, 0.37);
      }
      button {
        border-radius: 0;
        border: 1px solid $light-fade;
        margin-top: 1em;
        @include align-center();
        width: 100%;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .performance {
    .container {
      h4 {
        text-align: center;
        background-color: $blue;
        color: $white;
        border-radius: 25px;
        padding: 0.3em;
        width: 30%;
        margin: 0 auto 2em auto;
        box-shadow: 10px 10px 22px 0 rgba(102, 102, 102, 0.37);
      }
      .ant-steps-item-finish
        > .ant-steps-item-container
        > .ant-steps-item-tail::after {
        background-color: $primary-color;
      }
      .ant-steps-item-finish
        .ant-steps-item-icon
        > .ant-steps-icon
        .ant-steps-icon-dot {
        background: $primary-color;
      }
      .ant-steps-item-process
        .ant-steps-item-icon
        > .ant-steps-icon
        .ant-steps-icon-dot {
        background: $primary-color;
      }
    }
  }
  .blogs {
    .container {
      h4 {
        margin-bottom: 2em;
        background-color: $light-green;
        color: $white;
        padding: 0.3em;
        box-shadow: 10px 10px 22px 0 rgba(102, 102, 102, 0.37);
      }
    }
  }
  .more-options {
    position: absolute;
    bottom: 0;
    right: 2%;
    position: fixed;
    list-style: none;
    li {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-bottom: 0.5em;
      @include flex-center();
      transition: color 1s ease;
      cursor: pointer;
    }
    li.edit {
      border: 2px solid $dark-fade;
      color: $dark-fade;
      &::before {
        content: 'Edit';
        position: absolute;
        left: -40px;
        color: $light-fade;
        opacity: 0;
        transition: all 1s ease;
      }
      &:hover {
        background-color: $dark-fade;
        color: $white;
        &::before {
          opacity: 1;
        }
      }
    }
    li.logout {
      border: 2px solid #d84b4b;
      color: #d84b4b;
      &::before {
        content: 'Logout';
        position: absolute;
        left: -30px;
        transform: translateX(-30px);
        color: $light-fade;
        opacity: 0;
        transition: all 1s ease;
      }
      &:hover {
        background-color: #d84b4b;
        color: $white;
        &::before {
          opacity: 1;
        }
      }
    }
  }
  .edit-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid $smoke;
    @include flex-center();
    position: absolute;
    top: 1%;
    right: 1%;
    transition: all 1s ease;
    cursor: pointer;
    &:hover {
      background-color: $smoke;
    }
  }
  .edit-modal {
    background-color: $white;
    width: 800px;
    padding: 1em;

    h4 {
      padding-bottom: 0.5em;
      border-bottom: 2px solid $light-green;
      margin-bottom: 1em;
      color: $fade;
      @include align-center();
      position: relative;
    }
    .form-container {
      width: 100%;
      .ant-row {
        padding-bottom: 0 !important;
      }
    }
    .btn-container {
      text-align: right;
    }
    .close-btn {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      font-size: 0.5em;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      @include flex-center();
      background-color: $smoke;
    }
  }
  .skill-edit-modal {
    width: 1000px;
  }
  .more-achievement-modal {
    .achievement-bar-container {
      width: 100%;
      .achievement-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $smoke;
        padding: 0.3em;
        background-color: $primary-color;
        margin-bottom: 1em;
        a {
          @include align-center();
          .icon {
            margin-left: 0.5em;
          }
        }
        * {
          margin: 0;
        }
      }
    }
  }
}
//global
.ant-message {
  z-index: 999999999999999;
  .ant-message-custom-content {
    @include align-center();
  }
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  backdrop-filter: blur(3px);
  @include flex-center();
  z-index: 99999;
  .ant-spin-dot-item {
    background-color: $white;
  }
  .pop-confirm {
    background-color: $white;
    padding: 2em 1em;
    text-align: center;
    img {
      width: 35%;
    }
    p {
      color: green;
    }
    h4 {
      color: #494949;
    }
    button {
      border: 1px solid $success-green;
      color: $success-green;
      margin: 0.5em;
      &:hover {
        background-color: $success-green;
        color: $white;
      }
    }
  }
  .pop-confirm.registration {
    width: 500px;
    img {
      width: 55%;
    }
  }
  .pop-confirm.logout {
    p {
      color: $alert;
      margin: 0;
    }
    button {
      width: 120px;
    }
    button.yes {
      border: 1px solid $alert;
      color: $alert;
      &:hover {
        background-color: $alert;
        color: $white;
      }
    }
  }
}
.ant-select-dropdown {
  z-index: 9999999;
}
//global
// error page
.error-page {
  height: 85vh;
  width: 100%;
  @include flex-center();
  header {
    text-align: center;
    .container {
      width: 70%;
      margin: auto;
    }
    h1 {
      color: $primary-color;
    }
    h2 {
      color: $deep-sky;
      text-transform: uppercase;
    }
    p {
      color: $dark-fade;
    }
    button {
      border: 1px solid $deep-sky;
      color: $deep-sky;
      &:hover {
        background-color: $deep-sky;
        color: $white;
      }
    }
  }
}
//-------------------media query for responsive design--------------------
//-------------------media query for responsive design--------------------
//-------------------media query for responsive design--------------------
//-------------------media query for responsive design--------------------
//-------------------media query for responsive design--------------------
//-------------------media query for responsive design--------------------
//-------------------media query for responsive design--------------------
@media (max-width: $mobile-break-point) {
  //-----global
  section {
    margin: 0.5em auto;
    padding: 0.5em;
  }
  .left-circle-border {
    height: 100px;
    width: 100px;
    left: -2%;
  }
  .circle-design {
    height: 80px;
    width: 80px;
  }
  //-----section
  //home
  .home {
    height: 90vh;
    padding: 0.5em 1em;
    header {
      margin-bottom: 1.3em;
    }
    .social-bar {
      right: 4%;
    }
  }
  //moto
  .moto {
    .title {
      padding: 1em 0;
      background-color: transparent;
      border: 2px solid $pink;
      width: 95%;
      margin: auto;
      h2 {
        transform: rotate(0deg);
        margin: 0;
      }
      .left-circle-border {
        left: -5%;
        bottom: -25%;
      }
    }
    .card {
      padding: 0.8em;
      flex-direction: column;
      align-items: center;
    }
  }
  //students
  .proud-students {
    padding: 2em 0.5em;
    .title {
      margin-bottom: 2em;
    }
  }
  //projects
  .projects {
    padding: 2em 0.8em;
    .title-container {
      margin-bottom: 1em;
    }
    .pc1,
    .pc2,
    .pc3,
    .pc4 {
      margin-top: 1em;
    }
  }
  //videos
  .videos {
    h2 {
      width: 100%;
    }
    .square {
      width: 90%;
    }
    .video-cards {
      width: 100%;
      z-index: 999;
    }
  }
  //blogs
  .blog {
    header {
      width: 100%;
    }
    .blog-card {
      margin-bottom: 1.3em;
    }
  }
  //login
  .login-page {
    min-height: auto;
    overflow: hidden;
    .login-container {
      min-height: auto;
      width: 100%;
      .row {
        min-height: auto;
        padding: 0 1em;
      }
      .content {
        padding: 3em 1em 1em;
        img {
          width: 25%;
          position: absolute;
          top: 2%;
          left: 2%;
        }
        .login-board {
          width: 100%;
          header {
            margin-bottom: 2em;
            small {
              margin: 0;
              color: rgb(122, 122, 122);
            }
          }
          button {
            margin-top: 1em;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
  //profile page design
  .profile-page {
    section {
      width: 100%;
      margin: 1em auto;
    }
    .top {
      padding: 1em 1em 0 1em;
      height: 630px;
      .container {
        flex-direction: column;
        height: 100%;
        .profile-picture {
          margin: 1em auto;
          .dp {
            height: 150px;
            width: 150px;
            .img-edit {
              bottom: 0;
              right: 0;
            }
          }
        }
        .profile-details {
          padding-top: 2em;
          height: 100%;
          padding-left: 0;
          text-align: center;
          header {
            padding: 0;
            .role {
              margin: 1em auto;
            }
            .bio {
              p {
                margin-bottom: 0.3em;
                @include flex-center();
              }
              .education {
                display: none;
              }
            }
          }
          .action-bar {
            width: 100%;
            background-color: $white;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex !important;
            flex-direction: row !important;
            margin: auto;
          }
          .social-media {
            width: 100%;
            justify-content: center;
            img {
              width: 35%;
              margin: 0 0em;
            }
          }
          .message {
            top: 50%;
            right: 50%;
            transform: translateX(50%);
          }
          .edit-btn {
            top: 30%;
            right: 0;
            width: 50px;
          }
        }
      }
    }
    .about-section {
      .container {
        h4 {
          img {
            width: 15%;
          }
        }
        .bio {
          margin-bottom: 0.5em;
        }
      }
    }
    .skills {
      .container {
        .skill-container {
          .skill-card {
            height: auto;
            .content {
              .header {
                flex-direction: column;
                h5 {
                  margin-bottom: 0.5em;
                }
              }
              p {
                height: auto;
              }
            }
          }
        }
      }
    }
    .projects {
      padding: 0;
      .container {
        h4 {
          text-align: center;
        }
      }
    }
    .performance {
      .container {
        h4 {
          width: 100%;
        }
      }
    }
    .more-options {
      li.edit {
        background-color: $dark-fade;
        color: $white;
        &::before {
          content: '';
        }
      }
      li.logout {
        background-color: #d84b4b;
        color: $white;
        &::before {
          content: '';
        }
      }
    }
  }
  //global
  .modal-container {
    overflow-y: scroll;
    .pop-confirm {
      padding: 1em 0;
      width: 95%;
      img {
        width: 60%;
      }
    }
    .pop-confirm.registration {
      width: 95%;
    }
    .edit-modal {
      width: 95%;
      margin: auto;
    }
  }
  //global
  // error page
  .error-page {
    height: 90vh;
    header {
      .container {
        width: 90%;
        margin: auto;
      }
      h2 {
        font-size: 0.8em;
      }
    }
  }
}
